<h1>Home page</h1>
<ul>
  <% if user_signed_in? %>
    
    <h2>Bievenue <%= current_user.first_name %></h2>

    
    <%@events.each do |event|%>
    <li><%="#{event.title} at #{event.location}"%><br></li>
    <%end%>
    
  </ul>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete} %><br>
    </li>
  <% else %>
    <li>    
      <%= button_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>



