<h1>Event crated by <%=@event.admin.first_name%></h1>

  <p><strong>Title:</strong> <%= @event.title %></p>
  <p><strong>Description:</strong> <%= @event.description %></p>
  <p><strong>Date:</strong> <%= @event.start_date %></p>
  <p><strong>Duration:</strong> <%= @event.duration %></p>
  <p><strong>Location:</strong> <%= @event.location %></p>


<p>Contact admin : <%=@event.admin.email%></p>
